DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sithum1959
DB_NAME=iotdb

MQTT_HOST=localhost
MQTT_PORT=8883
MOSQUITTO_SERVICE=mosquitto

CA_CERT=ca.crt
BAT_FILE=runfile.bat

DEVICE_FILE=devices1.json
DEVICE_STATUS_FILE=devicesa_status.json
